@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
.banner{
	background-image: url(adsadqwdsaxfsa.jpg);
	background-size: cover;
	height: 500px;
	color: white;
	padding-left: 200px;
	padding-top: 200px;
}
.banner h1:hover{
	color: red;
}
.try{
	background-color:darkorange;
	border-radius: 10px;
	border: none;
	padding: 10px;
	color:crimson
}
.try:hover{
	background-color:crimson;
	color:darkorange;
}
i{
	font-size: 30px !important;
	padding-left: 50%;
}